<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PruebaWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PruebaWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LDAPSoap" />
        <binding name="authSoap" />
        <binding name="Tipo_Cambio_BCNSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Tipo_Cambio_BCNSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://si.uni.edu.ni/wsLDAP/ws/LDAP.asmx" binding="basicHttpBinding" bindingConfiguration="LDAPSoap" contract="wsLDAP.LDAPSoap" name="LDAPSoap" />
      <endpoint address="http://si.uni.edu.ni/wsoffice365/auth.asmx" binding="basicHttpBinding" bindingConfiguration="authSoap" contract="wsOffice365.authSoap" name="authSoap" />
      <endpoint address="https://servicios.bcn.gob.ni/Tc_Servicio/ServicioTC.asmx" binding="basicHttpBinding" bindingConfiguration="Tipo_Cambio_BCNSoap" contract="wsTipoCambio.Tipo_Cambio_BCNSoap" name="Tipo_Cambio_BCNSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="SIFOPEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.103.29\FINANZAS;initial catalog=SIFOP;user id=dfzamora;password=zamora2112s;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <PruebaWPF.Properties.Settings>
      <setting name="TopRow" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="ThreadSleep" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="AutomaticReload" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rememberSession" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserRemember" serializeAs="String">
        <value />
      </setting>
    </PruebaWPF.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PruebaWPF.Properties.Settings>
      <setting name="IdMonedaWS" serializeAs="String">
        <value>2</value>
      </setting>
    </PruebaWPF.Properties.Settings>
  </applicationSettings>
</configuration>